/* Google captcha */
#captcha {
  margin-bottom: 30px;
}


/*Main Section*/

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #D1C4E9;
  margin-top: 230px;
  padding-bottom: 0px;
  border-bottom: 0px;
  width: 100%;
}

.footer a:hover {
	color: #512DA8;
}

.footer a:focus {
	color: #9575CD;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575CD;
  color: floralwhite;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  margin: 0px auto;
  background-color: rgb(230, 205, 235);
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

content ul {
  border: 4px;
  border-style: outset;
  border-color: #9575CD;
}

content ul img {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 200px;
}


  /* Resize testarea */
  textarea {
  	resize: none;
  	overflow: scroll;
  }

  /* All feedback in a card */
  .card {
  	margin: auto;
  	margin-top: 30px;
  	min-width: 50%;
  	max-width: 100%;
  }

  .form-group {
  	margin-bottom: 15px;
  }

  #feedback-head {
    text-align: center;
  }

.navbar-inverse {
  background-color: #512DA8;
}

.navbar-inverse a, .navbar button {
	color: floralwhite;
}

.navbar-inverse .dropdown-item {
	color: #512DA8;
	font-weight: bold;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

h1, h4 {
  font-family: 'Courgette', cursive;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.modal label, .modal option {
  font-family: 'Source Sans Pro', sans-serif;
}

#materialChoice {
  font-weight: normal;
}

.modal label {
  font-weight: bold;
}

.card img {
  height: 100%;
  width: 75%;
//  border-style: inset;
//  border-color: #512DA8;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #999999;
}


.card-title {
	color: #333;
}
/*Index*/

.carousel {
  border-style: inset;
  border-radius: 3px;
  border-color: #512DA8;
  box-shadow: 5px 5px 5px #999999;
}

.carousel-item img {
  min-height: 250px;
  max-height: 500px;
  width: auto;
}

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px;
  color: floralwhite;
  background-color: darkgreen;
}

main ul {
  color: #512DA8;
}

.resume {
  margin-top: 30px;
}

/*Gallery Section*/

li a {
  color: #523DA8;
}

li a:hover {
  text-decoration: none;
  color: floralwhite;
}

.dropdown {
  color: lightgray;
}

.dropdown:active, .dropdown:focus, .dropdown:hover {
  color: floralwhite;
}


.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
  color: floralwhite;
  background-color: #9575CD;
}

nav div ul a.dropdown-item.active {
  background-color: #512DA8;
  color: floralwhite;
  text-decoration: none;
}

.card-img-top {
  max-width: auto;
  height: 100%z;
}

.card {
  border-style: solid;
  border-color: #512DA8;
  box-shadow: 5px 5px 30px #999999;
}

.modal-header {
  background: #512DA8;
}

.modal-title {
  color: floralwhite;
}

.modal-header .close {
  color: floralwhite;
}

.modal-body {
  background: rgb(230, 205, 235);
}

.modal-footer {
  background: #9575CD;
}

.form-group label {
  color: #512DA8;
}

/*gallery subsections*/

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #512DA8;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

.sold {
  font-family: sans-serif;
}

footer {
  color: floralwhite;
}

address {
  color: floralwhite;
}

footer a {
  color: floralwhite;


}
